{# GOVUK components #}
{%- from "govuk-components.njk" import govukComponent -%}

{# Additional GOVUK components #}
{%- from "src/assets/styles/components/contents-list/macro.njk" import govukContentsList -%}
{%- from "src/assets/styles/components/related-navigation/macro.njk" import govukRelatedNavigation -%}
{%- from "src/assets/styles/components/contextual-footer/macro.njk" import govukContextualFooter -%}

<!DOCTYPE html>
<html lang="{{ htmlLang | default("en", true) }}" class="govuk-template {%- if htmlClasses %} {{ htmlClasses }}{% endif %}">
<head>
  <meta charset="utf-8">
  <title>{{ meta.serviceName }} - {{ meta.siteName }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="theme-color" content="{{ themeColor | default('#0b0c0c', true) }}">

  {# Open Graph metadata #}
  <meta property="og:title" content="{{ meta.serviceName }} - {{ meta.siteName }}">
  <meta property="og:description" content="{{ meta.siteDescription | default('Get help if you’re taking time off work due to a health condition') }}">
  <meta property="og:image" content="{{ meta.siteOgImage }}">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta property="og:image:type" content="image/png">
  <meta property="og:url" content="{{ meta.siteURL }}{{ page.url }}">
  <meta property="og:type" content="website">

  {# Canonical #}
  <link rel="canonical" href="{{ meta.fullSiteUrl }}{{ page.url }}">

  {# Block search engines #}
  <meta name="robots" content="noindex, nofollow">
  <meta name="googlebot" content="noindex, nofollow">

  {% block headIcons %}
    <link rel="icon" sizes="48x48" href="{{ '/assets//images/favicon.ico' | url }}">
    <link rel="icon" sizes="any" href="{{ '/images/favicon.svg' | url }}" type="image/svg+xml">
    <link rel="mask-icon" href="{{ '/images/govuk-icon-mask.svg' | url }}" color="{{ themeColor | default('#0b0c0c') }}">
    <link rel="apple-touch-icon" href="{{ '/images/govuk-icon-180.png' | url }}">
    <link rel="manifest" href="{{ '/assets/manifest.json' | url }}">
  {% endblock %}

  {% block head %}{% endblock %}

  {# Site stylesheet #}
	<link rel="stylesheet" href="{{ '/assets/styles/app.css' | url }}">

  {# Cookies in production #}
  {% if (meta.siteEnvironment === "production") %}
    <script rel="preload" src="https://googletagmanager.com/gtag/js?id=G-LCRPJR51P6" defer></script>
  {% endif %}

</head>

<body class="govuk-template__body">

  <script>document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');</script>

  {# Don’t show cookies banner if on the Cookies page #}
  {% if page.url != "/cookies/" %}
    {% include "cookie-banner.njk" ignore missing %}
  {% endif %}

  {{ govukComponent("skip-link", {
    text: "Skip to main content",
    href: "#main-content"
  }) }}

  {% block header %}
    {{ govukComponent("header", {
      homepageUrl: "https://gov.uk/"
    }) }}
  {% endblock %}

  <div class="govuk-width-container">

    {{ govukComponent("phase-banner", {
      tag: {
        text: "Prototype"
      },
      html: "This is a prototype for research purposes only. Please help us improve it by <a class=\"govuk-link govuk-link--no-visited-state\" href=\"https://docs.google.com/forms/d/1viJKVBA7jRDsRVVOY2_l3Sl4Rz9vlRLf8aIyVCuKhIY/\">sharing your feedback</a>."
    }) }}

  </div>

  {% block main %}
    <div class="govuk-width-container {%- if containerClasses %} {{ containerClasses }}{% endif %}">
      {% block beforeContent %}{% endblock %}
      <main class="govuk-main-wrapper {%- if mainClasses %} {{ mainClasses }}{% endif %}" id="main-content" {%- if mainLang %} lang="{{ mainLang }}"{% endif %}>
        {% block content %}{% endblock %}
      </main>      
    </div>
  {% endblock %}

  {% block footer %}
    {{ govukComponent("footer", {
        meta: {
        html: "<p class=\"govuk-body-s\">This is a prototype used for research and testing only. It is confidential and not for public sharing.</p>",
        items: [
          {
            href: "/cookies-and-privacy-policy/" | absoluteUrl,
            text: "Cookies and privacy policy"
          },
          {
            href: "/accessibility-statement/" | absoluteUrl,
            text: "Accessibility statement"
          }
        ]
      }
    }) }}
  {% endblock %}

  {# Cookies in production #}
  {% if (meta.siteEnvironment === "production") %}
    <script src="{{ '/assets/scripts/cookie-manager.js' | url }}"></script>
    <script src="{{ '/assets/scripts/cookie.js' | url }}"></script>
  {% endif %}
  
  {% block bodyEnd %}{% endblock %}

  </body>
</html>
